
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Проверка сайта</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Экспорт</button>
        </div>
    </div>
</div>
<p>На данной странице вы можете выполнить SEO-анализ сайта</p>
<form action="check_site.php" method="POST">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Введите адрес сайта" aria-label="Введите адрес сайта" aria-describedby="button-addon2" name="url" id="url">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Выполнить</button>
        </div>
    </div>
</form>

