@{
    ViewData["Title"] = "Проверка сайта";
    ViewData["Description"] = "SEO-анализ сайта по URL";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Проверка сайта</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Экспорт</button>
        </div>
    </div>
</div>
<p>На данной странице вы можете выполнить SEO-анализ сайта</p>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Введите адрес сайта" aria-label="Введите адрес сайта" aria-describedby="button-addon2" name="url" id="url">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2" onclick="getInfo()">Выполнить</button>
    </div>
    <div class="col-md-12">
        <div class="result p-5"></div>
    </div>
</div>

<script type='text/javascript'>
    function getInfo() {
        $.ajax({
            url: '@Url.Action("GetParametrs","Home")?url='+$("#url").val(),
            type: "get",
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {
                $(".result").empty();
                $(".result").append('<b>Проверен сайт:</b> <a href="https://' + data.site + '" > ' + data.site + '</a>');
                $(".result").append('<br>');
                $(".result").append('<b>Дата проверки: </b>' + Date());
                $(".result").append('<br>');
                $(".result").append('<b>Title: </b>' + data.pageTitle);
                $(".result").append('<br>');
                $(".result").append('<b>Description: </b>' + data.pageDecription);
                $(".result").append('<br>');
                $(".result").append('<b>Скорость работы страницы: </b>' + data.pageSpeedDesktop);
                $(".result").append('<br>');
                $(".result").append('<b>ИКС: </b>' + data.sqi);
                $(".result").append('<br>');
                $(".result").append('<b>Траст: </b>' + data.trast);
                $(".result").append('<br>');
                $(".result").append('<b>СПАМ: </b>' + data.spam);
                $(".result").append('<br>'); 
            }
        })
    }
</script>