<div class="p-3 text-center">
    <h1>Здравствуйте, %username%, привествуем Вас в Информационной системе</h1>
    <br>
    <br><br>

    <br>
    <a id="time_is_link" rel="nofollow" style="font-size:36px">Новосибирск:</a>
    <span id="Novosibirsk_z430" style="font-size:36px"></span>
    <script src="//widget.time.is/ru.js"></script>
    <script>
        time_is_widget.init({ Novosibirsk_z430: { template: "TIME<br>DATE", time_format: "hours:minutes", date_format: "dayname daynum.monthnum.yy" } });
    </script>
</div>
