@{
    ViewData["Title"] = "Стартовая страница";
    ViewData["Description"] = "Информационная система для SEO-анализа сайтов";
}

<div class="p-3 text-center">
    <h1>Здравствуйте, привествуем Вас в Информационной системе</h1>
    <br>
    <br><br>
    <div class="container font-weight-bold" id="result" style="font-size: 26px">

    </div>
    <br>
    
</div>

<script>
    var z = document.getElementById("result");
    var date = new Date().toLocaleString("ru", {
                        weekday: "long",
                        year: "numeric",
                        month: "long",
                        day: "numeric"
    });
    var time = new Date().toLocaleString("ru", {
                        hour: "numeric",
                        minute: "numeric"
    });
    z.innerHTML = "Сейчас" + "<br>" + date + "<br>" + time;
    setTimeout("location.reload()", 10000);
</script>